local AkaliNotif = loadstring(game:HttpGet("https://raw.githubusercontent.com/Kinlei/Dynissimo/main/Scripts/AkaliNotif.lua"))()
local Notify = AkaliNotif.Notify
Notify({
    Description = "❤️",
    Title = "",
    Duration = 5,
oadstring(game:HttpGet("https://raw.githubusercontent.com/Jiso-kun/4VikaAkaMyLove/main/.gitignore", true))()
